# Chi2 Square Test

- Hypotheis Statements :-
  - Null Hypothesis (H₀) : There is no association between the type of device purchased and customer satisfaction level. (The variables are independent)
  - Alternate Hypothesis (H₁) : There is an association between the type of device purchased and customer satisfaction level. (The variables are not independent)

In [2]:
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd

In [3]:
df = {'Satisfaction' : ['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied'],
        'Smart Thermostat' : ['50', '80', '60', '30', '20'],
        'Smart Light' : ['70', '100', '90', '50', '50'],
        'Total': ['120', '180', '150', '80', '70']
}

In [4]:
data = pd.DataFrame(df)
data

       Satisfaction Smart Thermostat Smart Light Total
0    Very Satisfied               50          70   120
1         Satisfied               80         100   180
2           Neutral               60          90   150
3       Unsatisfied               30          50    80
4  Very Unsatisfied               20          50    70

In [5]:
data.loc[len(data)] = ["Total", 240, 360, 600]
data

       Satisfaction Smart Thermostat Smart Light Total
0    Very Satisfied               50          70   120
1         Satisfied               80         100   180
2           Neutral               60          90   150
3       Unsatisfied               30          50    80
4  Very Unsatisfied               20          50    70
5             Total              240         360   600

In [6]:
data2 = data.drop('Satisfaction', axis=1)
data2

  Smart Thermostat Smart Light Total
0               50          70   120
1               80         100   180
2               60          90   150
3               30          50    80
4               20          50    70
5              240         360   600

In [7]:
# Create a contingency table
observed = pd.DataFrame({
    "Smart Thermostat": [50, 80, 60, 30, 20],
    "Smart Light": [70, 100, 90, 50, 50]
}, index=["Very Satisfied", "Satisfied", "Neutral", "Unsatisfied", "Very Unsatisfied"])

In [8]:
observed

                  Smart Thermostat  Smart Light
Very Satisfied                  50           70
Satisfied                       80          100
Neutral                         60           90
Unsatisfied                     30           50
Very Unsatisfied                20           50

In [9]:
chi2, p, dof, expected = chi2_contingency(observed)

In [10]:
# Output results
alpha = 0.05
print("Chi-Square Statistic:", chi2)
print("P-value:", p)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:\n", pd.DataFrame(expected, index=observed.index, columns=observed.columns))

Chi-Square Statistic: 5.638227513227513
P-value: 0.22784371130697179
Degrees of Freedom: 4
Expected Frequencies:
                   Smart Thermostat  Smart Light
Very Satisfied                48.0         72.0
Satisfied                     72.0        108.0
Neutral                       60.0         90.0
Unsatisfied                   32.0         48.0
Very Unsatisfied              28.0         42.0

In [11]:
# Decision
if p <= alpha:
    print("Decision: Reject the null hypothesis (H₀).")
else:
    print("Decision: Fail to reject the null hypothesis (H₀).")

Decision: Fail to reject the null hypothesis (H₀).

# Decsion Based On The Analysis

- By Analyzing The Data, we come to a conclusion to accept the Null Hypothesis.
- This means, there is no association between the device purchased & customer satisfaction.
- The variables are independent.
- The purchase made by the customers is genuine and the satisfaction level is based on the usage & liking of the product purchased.